@import "tailwindcss";
@import "@packages/ui/globals.css";
@import "@packages/config-tailwind/theme.css";

@plugin "tailwindcss-animate";

/* 
  3. App specific styles can go below 
*/
@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans);
}
